body{
    background-color: white;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#introText{
    color: #000022;
    float: right;
    width:450px;
    font-size: 18px;
}

.highlight{
    color: rgb(5, 84, 255);
    font-weight: bold;
}

#introContainer{
    width: 570px;
    float: left;
}

#introPicture{
    float: left;
}


.reset{
    clear: both;
}

#hobbyContainer{
    width: 355px;
    float: left;
}

#hobbyContainer h2 {
    margin: 60px 0px 0px 0px;
}

#heroshot{
    float: left;
    margin: 50px 0px 40px 0px;
}

.socialTumb{
    float: left;
}

#meme {
    float:left;
    margin: 0px 50px 0px 0px;
}

.center {
    width: 300px;
    margin: 50px;
    float: right;
}

#mainContainer {
    width: 860px;
    margin: 0px auto;
}