body{
    background-color: hsl(0, 0%, 97%);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin:0px;
}

td {
    border: 1px solid black;
}

/* Classes */

.highlight{
    color: #00d882;
    font-weight: bold;
}

.socialTumb{
    float: left;
}

.center {
    width: 300px;
    margin: 50px;
    float: right;
}

.gifcenter {
    width: 600px;
    margin: 50px 0px 0px 100px;
    float: left;
}

.reset{
    clear: both;
}

/* ID's */

#introPicture{
    float: left;
    margin: 50px 0px 0px 0px;
    border-radius: 4px;
}

#hobbyContainer{
    width: 355px;
    float: left;
    font-size: 17px;
    margin-left: 23px;
}

#hobbyContainer h2 {
    margin: 60px 0px 0px 0px;
}

#introText{
    color: #000022;
    float: right;
    width:450px;
    font-size: 18px;
}

#heroshot{
    float: left;
    margin: 50px 0px 40px 0px;
    border-radius: 4px;
}

#introContainer{
    width: 570px;
    float: left;
}

#meme {
    float:left;
    margin: 0px 50px 0px 0px;
    border-radius: 4px;
}

#mainContainer {
    width: 860px;
    margin: 0px auto;
}

#paddingTest{ 
    width: 800px;
    height: 20px;
    background-color:hsl(0, 0%, 97%);
    margin: 10px 0px 0px 0px;
    padding: 20px;
}

#image {
    margin: 50px;
}

/* Navigation */

#navigation {
    height: 30px;
    margin: 20px 0px 10px 0px;

}
#navigation a{
    padding: 15px;
    background: #00d882;
    border: 2px solid #000000;
    text-decoration:none;
    color: #ffffff;
    border-radius: 4px;
}

#navigation a:hover{
    background: #000000;
    transition-duration: 0.5s;
}

#test {
    background:#000000
}